name: Update nix flake

on:
  workflow_call:
    inputs:
      commit-message:
        description: Commit message
        type: string
        default: "chore: update flake.lock"
      title:
        description: PR title
        type: string
        default: "update: nix packages"
      body:
        description: PR body
        type: string
        default: "Automated update of nix packages"
      branch:
        description: Branch name
        type: string
        default: "update-flake-lock"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: jpaju/gh-commons/actions/setup-nix@main

      - name: Update flake inputs
        run: nix flake update

      - name: Create PR
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: ${{ inputs.commit-message }}
          title: ${{ inputs.title }}
          body: ${{ inputs.body }}
          branch: ${{ inputs.branch }}
